body {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

header{
    font-family: 'Revalia', cursive;
    font-size: 50px;
}

div{
    background-color: #ffffff;
    color: #000000;
    width: 496px;
    height: 250px;
    margin: auto;
    border-radius: 100px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

div > h2 {
    font-size: 36px;
    font-family: 'Rokkitt', serif;
    padding-top: 25px;
}

footer{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 15vh;
}